body {
  background-color: #282c34;
}
.App {
  text-align: center;
  color: white;
  overflow: hidden;
}

.character-card {
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.character:hover {
  transition: transform .2s ease-in-out;
  transform: scale(1.15,1.15);
}

img {
  max-height: 170px;
}
